.button-group {
    background-color: white;
    padding: 80px 20px;
    box-shadow: 0px 2px 6px #0000000A;
    margin-top: 21px;

    .button-main-title {
        font-family: Regular Source Sans Pro;
        font-size: 18px;
        letter-spacing: 0px;
        color: #4D4F5C;
    }

    .button-group-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        @media (max-width: 1070px) {
            flex-direction: column;
        }

        .button-group-left {
            margin-top: 20px;
        }

        .button-group-right {
            margin-top: 20px;

            .radio-checkbox-group {
                display: flex;

                @media (max-width: 500px) {
                    flex-direction: column;
                }

                .radio-button-group {
                    display: flex;
                    margin-right: 50px;
                    margin-top: 45px;
                }

                .checkbox-button-group {
                    display: flex;
                    margin-top: 45px;
                }
            }

        }
    }

}