.sixth-block {
    background-color: #F5F5F5;
    box-shadow: 0px 2px 6px #0000000A;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    padding: 40px 20px;
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 1000px) {
       flex-direction: column;
       justify-content: unset;
       align-items: flex-start;
    }

    .search-button {
        background: #5876F0;
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 35px;
    }

    .tooltip-container {
        display: flex;
        align-items: center;

        .triangle {
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;

            border-right: 8px solid #5876F0;
        }

        .tooltip {
            display: flex;
            background-color: #5876F0;
            padding: 13px;

            .tooltip-text {
                color: white;
                font-size: 12px;
                font-family: Arial;
                font-weight: bold;
                margin: 0px;
            }
        }
    }
}