.form-container {
    padding: 2rem !important;
    background-color: #f1f5f9;
    flex: 1;
    overflow-y: auto;

    .form-main-title {
        font-size: 28px;        
        font-family: Poppins;
        letter-spacing: 0px;
        color: #43425D;
        margin: 0px;
    }
    
}