.third-block {
    background-color: white;
    box-shadow: 0px 2px 6px #0000000A;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    overflow-x: auto;

    display: flex;

    @media (max-width: 900px) {
        justify-content: unset;
    }


    .inner-third-block {
        padding: 80px 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;

        .primary-text {
            font-size: 18px;
            font-family: Bold Arial;
            letter-spacing: 0px;
            color: #585A5D;
            margin: 0px;
        }

        .indicator-outer-container {
            display: flex;
            align-items: center;
            margin-bottom: 40px;

            .outer-circle {
                width: 46px;
                height: 46px;
                border-radius: 30px;
                transition: 0.5s ease-in-out;
                background-color: #F5F5F5;
            }

            .indicator-container {
                display: flex;
                align-items: center;
                position: relative;

                .circle {
                    height: 6px;
                    width: 6px;
                    border-radius: 100px;
                    background-color: #585A5D;
                }


                .line {
                    height: 2px;
                    width: 130px;
                    background-color: #F5F5F5;
                }
            }
        }

        .item-list {
            flex: 1;
            display: flex;
            align-items: center;
            flex-direction: row;
            border: 1px solid #E4E4E4;
            padding: 15px 20px;
            margin-bottom: 20px;

            .list-subTitle {
                font-size: 14px;
                font-family: Regular Arial;
                letter-spacing: 0px;
                color: #585A5D;
                margin: 0px;
                margin-top: 5px;
            }

            .select-picker {
                width: 230px;
                margin-left: 58px;
            }

            .small {
                width: 100px;
                margin-left: 29px;
                margin-right: 80px;
            }


        }

        .list-footer {
            background-color: #F5F5F5;
            display: flex;
            justify-content: space-between;
            padding: 15px;
        }
    }
}