.second-block {
    background-color: white;
    padding: 80px 20px;
    box-shadow: 0px 2px 6px #0000000A;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;

    .second-block-left {
        width: 30%;
    }

    .second-block-right {
        width: 30%;

        .label-title {
            -webkit-font-smoothing: auto;
            font-size: 16px;
            font-family: Arial;
            letter-spacing: normal;
            white-space: nowrap;
            color: #585A5D;
            font-weight: 500;
            margin: 0px;
            margin-bottom: 8px;
        }
    }
}