.forth-block{
    background-color: white;
    box-shadow: 0px 2px 6px #0000000A;
    margin-top: 40px;
    padding: 80px 20px;
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 1000px) {
        flex-direction: column;
    }

    .chevron-button{
        background: transparent;
        border: none;
        display: flex;
        outline: none;
        cursor: pointer;
    }
}