.fifth-block {
    background-color: white;
    box-shadow: 0px 2px 6px #0000000A;
    margin-top: 40px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 900px) {
        flex-direction: column;
        justify-content: unset;
    }


    .fifth-block-left {
        margin: 40px  0;
        .menu-icon-container {
            border-radius: 4px;
            overflow: hidden;
            margin-top: 40px;
            display: flex;
            align-self: flex-start;

            .icon-button {
                background: #5876F0;
                border: none;
                border-right: 1px solid rgba(255, 255, 255, 0.5);
                outline: none;
                display: flex;
                padding: 16px;
                cursor: pointer;
            }
        }

        .num-text {
            margin: 0px;
            font-size: 12px;
            font-family: Arial;
            font-weight: Bold;
            margin: 0 12px;
            transition: 0.5s ease-in-out;
        }
    }

    .fifth-block-right {
        margin: 40px  0;
        .tags-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 310px;

            .tags-list {
                margin: 0px;
                color: #585A5D;
                font-size: 12px;
                font-family: Arial;
                background-color: #F5F5F5;
                border: 2px solid #E4E4E4;
                padding: 8px 11px;
                border-radius: 4px;
                margin: 0 10px 10px 0;
                text-align: center;
            }
        }

        .tag-title {
            color: #585A5D;
            font-family: Arial;
            font-size: 14px;
            font-weight: bold;
            margin: 0px;
            margin-bottom: 20px;
        }
    }

}