.custom-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  border: solid #E4E4E4;
  outline: none;
  margin-top: 30px;
  transition: 0.5s ease-in-out;


  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    cursor: pointer;
    background: #5876F0;
    border: 2px solid #FFFFFF;
    display: none;
  }

  &:hover {
    &::-webkit-slider-thumb {
      display: flex;
    }
  }

  &::-webkit-progress-value {
    background-color: orange;
    cursor: pointer;
  }

}

.custom-slider-thumbvisible {
  &::-webkit-slider-thumb {
    display: flex;
  }
}