.mail-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    position: relative;

    .mail-body {
        height: 100%;
        width: 100%;
        transition: 0.5s ease-in-out;
        transform: translateX(0px);
    }

    .mail-menu-open {
        width: calc(100% - 290px);
        transform: translateX(290px);

        @media (max-width: 620px) {
            width: 100%;
            transform: translateX(0px);
        }
    }
}