.root-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;

    .root-body {
        height: 100%;
        width: 100%;
        transition: 0.5s ease-in-out;
        transform: translateX(0px);
        display: flex;
        flex-direction: column;
    }

    .root-body-open {
        width: calc(100% - 290px);
        transform: translateX(290px);

        @media (max-width: 1260px) {
            width: 100%;
            transform: translateX(0px);
        }
    }
}