@import '../../../helper/style/color.scss';
$font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

.mail-sidebar {
    transition: 0.5s ease-in-out;
    transform: translateX(0px);
    width: 290px;
    margin-left: -290px;
    background-color: white;
    z-index: 2;
    height: 100%;
    overflow-y: auto;

        .title {
            -webkit-font-smoothing: auto;
            font-family: $font-family;
            color: #27303f;
            -webkit-tap-highlight-color: transparent;
            font-weight: 800;
            font-size: 32px;
            letter-spacing: -.022em;
            line-height: 1.25;
            margin: 40px 24px 24px;
        }

        .composeTitle {
            margin-left: 4px;
        }

        .label-title {
            margin: 24px 24px 0px 24px;
            -webkit-font-smoothing: auto;
            font-family: $font-family;
            line-height: 20px;
            font-size: .875rem;
            font-weight: 600;
            letter-spacing: .05em;
            text-transform: uppercase;
            color: #5850ec;
            padding: 12px 0;
        }

        .list-container {
            flex-direction: row;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 24px;
            cursor: pointer;
            text-decoration: none;
            color: #475569;

            &:hover {
                transition: background-color 375ms cubic-bezier(.25,.8,.25,1);
                background-color: #f4f5f7;
            }

            .inner-list-container {
                flex-direction: row;
                display: flex;
                align-items: center;

                .label-icon {
                    width: 24px;
                    height: 24px;
                    object-fit: cover;
                    margin-right: 16px;
                    transition: color 375ms cubic-bezier(.25, .8, .25, 1);
                }

                .label-name {
                    -webkit-font-smoothing: auto;
                    font-family: $font-family;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 20px;
                }
            }

            .right-label {
                -webkit-font-smoothing: auto;
                font-family: $font-family;
                line-height: 20px;
                font-weight: 700;
                height: 20px;
                font-size: 11px;
                color: #27303f;

            }
        }

        .active {
            background-color: #e2e8f0;
            color: #27303f;
            &:hover {
                background-color: #e2e8f0;
            }

            .label-icon {
                fill: #64748b;
            }
        }
}

.mail-sidebar-open{
    transform: translateX(290px);
}

@media (max-width: 620px) {
    .mail-sidebar {
        position: absolute;
    }

    .mail-sidebar-overlay{
        position: absolute;
        background-color: rgba(0,0,0,0.4);
        z-index: 1;
        height: 100%;
        width: 100%;
    }
}