@import '../../../helper/style/color.scss';
$font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

.root-sidebar {
    transition: 0.5s ease-in-out;
    transform: translateX(0px);
    width: 290px;
    margin-left: -290px;
    z-index: 2;
    overflow-y: auto;
    height: 100%;
    background-color: #1a202e;
    color: white;

    .user-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        margin: 24px 0;

        .user-avatar {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            margin-bottom: 24px;
        }
    
        .text-primary{
            -webkit-font-smoothing: auto;
            font-size: .875rem;
            font-family:$font-family;
            color: #fff;
        }
    
        .email{
            color: #97a6ba;
        }
    }

    .list-container {
        display: flex;
        align-items: center;
        padding: 0 24px;
        cursor: pointer;
        text-decoration: none;
        color: #cfd8e3;


        &:hover {
            transition: background-color 375ms cubic-bezier(.25,.8,.25,1);
            background-color: hsla(0,0%,100%,.12);
            color: #fbfdfe;

            .label-icon {
                color: #f1f5f9;
            }
        }

            .label-icon {
                width: 24px;
                height: 24px;
                margin-right: 16px;
                transition: color 375ms cubic-bezier(.25, .8, .25, 1);
                -webkit-font-smoothing: auto;
                stroke: currentcolor;
                color: #97a6ba;
                fill: none;
                stroke: currentcolor;
            }

            .label-name {
                -webkit-font-smoothing: auto;
                font-family: $font-family;
                font-size: 13px;
                font-weight: 500;
                line-height: 20px;
                text-transform: capitalize;
            }

    }

    .active {
        background-color: rgba(0,0,0,.3);
        color: #fbfdfe;
        
        &:hover {
            background-color: hsla(0,0%,100%,.12);
        }

        .label-icon {
            color: #f1f5f9;
        }
    }

}



.root-sidebar-open{
    transform: translateX(290px);
}



@media (max-width: 1260px) {
    .root-sidebar {
        position: absolute;
        height: 100%;
        width: 290px;
    }

    .root-sidebar-overlay{
        position: absolute;
        background-color: rgba(0,0,0,0.4);
        z-index: 1;
        height: 100%;
        width: 100%;
    }
}