.custom-button{
    -webkit-font-smoothing: auto;
    visibility: visible;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -webkit-appearance: button;
    background: transparent;
    font-size: .875rem;
    font-weight: 500;
    font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    display: inline-flex!important;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    line-height: 1!important;
    box-sizing: border-box;
    position: relative;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    min-width: 64px;
    width: calc(100% - 48px);
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    margin: 0 24px;
    color: #f0f5ff;
    background-color: #5850ec;
    box-shadow: 0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.12);
}