$font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

.attachment-header {
    display: flex;
    align-items: center;
    margin-top: 48px;

    .attachment-text {
        line-height: 1.5;
        -webkit-font-smoothing: auto;
        font-size: .875rem;
        font-family: $font-family;
        color: #27303f;
        font-weight: 600;
        margin-left: 8px;
    }
}

.attachment-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    .attachment {
        display: flex;
        align-items: center;
        margin: 24px 24px 0 0;

        .pdf-container{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            width: 40px;
            height: 40px;
            background-color: #e5edff;
            .pdf-text{
                line-height: 1.5;
                -webkit-font-smoothing: auto;
                font-family: $font-family;
                font-size: 12px;
                font-weight: 500;
                color: #5850ec;
            }
        }

        .attachment-image {
            width: 40px;
            height: 40px;
            border-radius: 4px;
        }

        .attachment-right {
            margin-left: 16px;
            display: flex;
            flex-direction: column;

            .file-text {
                line-height: 1.5;
                -webkit-font-smoothing: auto;
                font-family: $font-family;
                color: #27303f;
                font-size: 13px;
                font-weight: 500;
            }

            .size {
                color: #64748b;
            }
        }
    }
}