$font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

.mailbody {
    flex: 1;
    height: 100%;
    flex-direction: column;
    display: flex;
    
    .icon {
        fill: #64748b;
        width: 20px;
        height: 20px;
    }

    .no-data-container {
        height: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;

        .mailbox-icon {
            font-size: 96px;
            fill: #64748b;
            width: 96px;
            height: 96px;
        }

        h4 {
            line-height: 1.5;
            -webkit-font-smoothing: auto;
            font-family: $font-family;
            margin: 1.25em 0 .5em;
            font-size: 20px;
            letter-spacing: -.017em;
            font-weight: 500;
            border-color: #e2e8f0;
            margin-top: 16px;
            color: #64748b;
        }
    }

    .subject-container {
        padding: 20px 24px;
        border-bottom: 1px solid #e2e8f0;

        .subject {
            line-height: 1.5;
            -webkit-font-smoothing: auto;
            font-family: $font-family;
            color: #27303f;
            margin: 4px 16px 4px 0;
            font-size: 20px;
        }

        .label-container {
            flex-direction: row;
            margin: 4px 0px;

            .label {
                font-family: $font-family;
                color: white;
                padding: 4px 10px;
                margin-right: 8px;
                border-radius: 10px;
                font-size: 11px;
                font-weight: 500;
                line-height: 21px;
                text-transform: uppercase;
            }
        }
    }

    .body-container {
        overflow-y: scroll;
        height: 100%;
        flex: 1;
        background-color: #f1f5f9;

        .inner-body-container {
            margin: 12px;
            background-color: white;
            padding: 32px 24px 12px;
            border-radius: 8px;
            border-width: 1px;
            border-color: #e2e8f0;

            .sender-info {
                display: flex;
                align-items: center;

                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }

                .sender-info-right {
                    margin-left: 16px;

                    .name {
                        line-height: 1.5;
                        -webkit-font-smoothing: auto;
                        font-family: $font-family;
                        color: #27303f;
                        font-size: 15px;
                        font-weight: 600;
                        margin: 0px;
                    }

                    .sender-info-right-bottom {
                        display: flex;
                        align-items: center;

                        .label {
                            line-height: 1.5;
                            -webkit-font-smoothing: auto;
                            font-size: .875rem;
                            font-family: $font-family;
                            color: #27303f;
                            border-color: #e2e8f0;
                            margin-right: 4px;
                        }

                        .seperator {
                            font-weight: 600;
                        }

                        .chevron-button {
                            user-select: none;
                            cursor: pointer;
                            outline: none;
                            border: none;
                            border-radius: 50%;
                            padding: 0px;
                            background: transparent;
                            width: 20px;
                            height: 20px;

                            &:hover {
                                background-color: rgba(0, 0, 0, 0.1);
                            }

                        }
                        
                    }

                }
            }

            .body-content {
                font-size: .875rem;
                font-family: $font-family;
                color: #27303f;
                margin-top: 32px;
                white-space: pre-line;
                line-height: 1.7;
            }

            .button-container{
                margin-top: 64px;
                display: flex;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                
                .button{
                    -webkit-font-smoothing: auto;
                    -webkit-appearance: button;
                    font-size: .875rem;
                    font-weight: 500;
                    font-family: $font-family;
                    display: inline-flex!important;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    user-select: none;
                    cursor: pointer;
                    outline: none;
                    border-radius: 4px;
                    border: 1px solid currentColor;
                    padding: 0 15px;
                    background: transparent;
                    color: #5850ec;
                    border-color: #cfd8e3;
                    margin: 0 16px 16px 0;
                }
            
                .button-icon{
                    margin-right: 8px;
                    fill: currentColor;
            
                }
            
            }

        }
    }
}