$font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

.maillist-container {
    height: 100%;
    width: 360px;
    flex-direction: column;

    .body-container {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        border-right: 1px #e2e8f0 solid;


        .list-container {
            cursor: pointer;
            padding: 24px 16px 24px 20px;
            border-color: #e2e8f0;
            border-top-style: solid;

            &:hover {
                background-color: #e2e8f0;
            }

            .icon {
                -webkit-font-smoothing: auto;
                fill: currentColor;
                color: #f05252;
                width: 16px;
                height: 16px;
            }

            .top-container {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                .top-right-container {
                    display: flex;
                    align-items: center;

                    .receiptent-name {
                        -webkit-font-smoothing: auto;
                        font-size: .875rem;
                        font-family: $font-family;
                        color: currentColor;
                        margin-right: 8px;
                        font-weight: 600;
                        text-overflow: ellipsis;
                    }
                }

                .received-date {
                    -webkit-font-smoothing: auto;
                    font-family: $font-family;
                    border-color: #e2e8f0;
                    font-size: 13px;
                    color: #97a6ba;
                }
            }

            .subject-container {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 4px;

                .subject {
                    -webkit-font-smoothing: auto;
                    font-size: .875rem;
                    font-family: $font-family;
                    color: #27303f;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    line-height: 16px;
                }

                .subject-right-container {
                    display: flex;
                    align-items: center;

                    .attachment {
                        margin-right: 8px;
                        fill: #64748b;
                    }
                }
            }

            .body {
                -webkit-font-smoothing: auto;
                font-size: .875rem;
                font-family: $font-family;
                border-color: #e2e8f0;
                margin-top: 8px;
                line-height: 1.4;
                overflow: hidden;
                color: #64748b;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

        }

        .active-list {
            background-color: #e5edff;

            &:hover {
                background-color: #e5edff;
            }
        }
    }
}

@media (max-width: 1200px) {
    .maillist-container {
    width: 100%;

    .body-container {
        border-right: none;
    }
    }
}