.mailbody-header {
    padding: 0 16px;
    height: 64px;
    border-bottom: 1px solid #e2e8f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fbfdfe;

    @media (min-width: 1200px) {
        .back {
            display: none;
        }
    }

    .icon-button {
        outline: none;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: transparent;
        margin-right: 8px;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .header-icon {
            width: 24px;
            height: 24px;
        }
    }
}