$font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

.navigation-container {
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 0 16px;
    height: 64px;
    min-height: 64px;
    border-color: #e2e8f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fbfdfe;

    .button {
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: transparent;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .button-icon {
            fill: #64748b;
            width: 24px;
            height: 24px;
        }
    }


    .left-container {
        display: flex;
        align-items: center;

        .hambruger {
            margin-right: 8px;
        }

        .label-title {
            line-height: 1.5;
            -webkit-font-smoothing: auto;
            font-size: .875rem;
            font-family: $font-family;
            color: #27303f;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    .right-container {
        display: flex;
        align-items: center;

        span {
            line-height: 1.5;
            -webkit-font-smoothing: auto;
            font-family: $font-family;
            color: #27303f;
            font-size: 13px;
            font-weight: 500;
            border-color: #e2e8f0;
        }

        .seperator {
            margin: 0 4px;
            color: #64748b;
        }

        .button-container {
            margin-left: 16px;

            .chevron-button {
                width: 32px;
                height: 32px;

                .chevron {
                    width: 16px;
                    height: 16px;
                }
            }

            .right {
                transform: rotate(180deg);
            }
        }

    }

}