.root-header{
    border-width: 0;
    border-color: #e2e8f0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    z-index: 49;
    padding: 0 24px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);

    .button {
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: transparent;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .button-icon {
            fill: #64748b;
            width: 24px;
            height: 24px;
        }
    }

    .button-container{
        display: flex;
        flex-direction: row;
        align-items: center;

        .action-button{
            margin-left: 8px;
        }
    }
}