.custom-buttons{
    width: 185px;
    height: 50px;
    border: 1px solid;
    border-radius: 4px;
    opacity: 1;
    text-align: center;
    font-size: 16px;
    font-family: Regular Source Sans Pro;
    letter-spacing: 0px;
    outline-width: 2px;
    cursor: pointer;
    margin: 0 20px 20px 0;
    background-color: #ffffff;
   
    .custom-buttons:active {
        padding: 0;
        margin: 0;
        opacity: 0.4;
        transition: 0s
      }
}