.outer-container {
    display: flex;
    align-items: center;

    .custom-checkbox {
        border: 2px solid;
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .checkbox-label{
        margin: 0px;
        margin-left: 10px;
        color: #585A5D;
        font-size: 16px;
        font-family: Arial;
    }
}