.chevron-custom-button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9EC;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .chevronIcon {
        fill: #808495;
    }
}