.radio-button-outer {
    display: flex;
    align-items: center;

    .custom-radio-button {
        border: 2.55px solid;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .radio-center {
            border-radius: 20px;
        }
    }

    .radio-button-label {
        margin: 0px;
        margin-left: 10px;
        color: #585A5D;
        font-size: 16px;
        font-family: Arial;
    }
}