.custom-switch {
    width: 80px;
    padding: 4px;
    background: #E4E4E4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    justify-content: space-between;
    align-self: flex-start;

    .switch-button {
        width: 38px;
        height: 38px;
        background: #FFFFFF;
        border-radius: 6px;
        transition: 0.5s ease-in-out;
        transform: translateX(-42px);
    }

    .switch-indicator {
        width: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s ease-in-out;
        transform: translateX(42px);

        .switch-text {
            margin: 0px;
            color: #FFFFFF;
            font-family: Arial;
            font-size: 12px;
            font-weight: bold;
        }

        .switch-icon {
            width: 15px;
            height: 15px;
            fill: #FFFFFF;
            display: flex;
        }

        .cross-icon {
            width: 25px;
            height: 25px;
            display: flex;
            transform: rotate(45deg);
            fill: #585A5D
        }
    }

    .switch-indicator-open {
        transform: translateX(0px);
    }
}

.custom-switch-open {
    background: #5876F0;

    .switch-button {
        transform: translateX(0px);
    }
}