.textbox-outer {
    margin-bottom: 20px;

    .label {
        -webkit-font-smoothing: auto;
        font-size: 16px;
        font-family: Arial;
        letter-spacing: normal;
        white-space: nowrap;
        color: #585A5D;
        font-weight: 500;
        margin: 0px;
        margin-bottom: 8px;
    }

    .textbox-inner {
        border-radius: 10px;
        border: 1.5px solid #E4E4E4;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
        background-color: #F5F5F5;
        display: flex;
        align-items: center;
        flex-direction: row;
        transition: 0.4s ease-in-out;

        .icon-wrapper {
            margin-right: 12px;
            padding: 0px;
            display: flex;
        }

        .icon-wrapper-right {
            margin-right: 0px;
            margin-left: 12px;
        }

        .textbox {
            -webkit-font-smoothing: auto;
            width: 100%;
            animation: cdk-text-field-autofill-end 0s 1ms;
            padding: 9px 10px;
            font-size: 16px;
            color: black;
            font-family: Regular Arial;
            background: transparent;
            outline: none;
            border: none;

            &::placeholder {
                color: rgba(0, 0, 0, .4);
            }
        }

    }

    .error-message {
        color: red;
        margin: 4px 0 0 0;
        font-size: 15px;
        font-family: Regular Arial;
    }

}