$font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

.budget{
    width: 33%;
    display: flex;
    flex-direction: column;
    
    margin: 1rem;
    border-color: #e2e8f0;
    border-radius: .25rem !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06) !important;
    background-color: #fff;
    padding: 1.5rem !important;

    @media (max-width: 1100px) {
        width: auto;
    }

    .budget-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .summary-text{
        line-height: 1.5;
        -webkit-font-smoothing: auto;
        font-size: .875rem;
        font-family: $font-family;
        color: #27303f;
        margin: 16px 0px;
    }

    .budget-list{
        display: flex;
        align-items: center;
        margin: 16px 0px;

        .icon-wrapper{
            border-color: #e2e8f0;
            border-radius: .25rem!important;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3.5rem!important;
            width: 3.5rem!important;
            .budget-icon{
                height: 24px;
                width: 24px;
            }
        }

        .list-center{
            flex:1;
            -webkit-font-smoothing: auto;
            margin-left: 1rem!important;

            .label-text{
                -webkit-font-smoothing: auto;
                font-family: $font-family;
                font-weight: 600!important;
                font-size: .625rem!important;
                text-transform: uppercase!important;
                letter-spacing: .05em!important;
                color: #97a6ba;
                margin: 0px;
            }

            .amount{
                -webkit-font-smoothing: auto;
                font-family: $font-family;
                color: #27303f;
                line-height: 1!important;
                font-weight: 500!important;
                font-size: 1.25rem!important;
                margin: 0px;
                margin-top: .5rem!important;
            }

            .progress-bar{
                height: 4px;
                border-radius: 9999px!important;
                margin-top: .75rem!important;
                width: 100%;
            }
        }

        .list-right{
            display: flex;
            justify-content: flex-end!important;
            margin-left: 1.5rem!important;
            margin-top: auto!important;
            min-width: 4.5rem!important;

            .progress-text{
                -webkit-font-smoothing: auto;
                font-family: $font-family;
                color: #27303f;
                font-size: 1rem!important;
                line-height: 1!important;
                margin: 0px;
            }

            .arrow{
                margin-left: .25rem!important;
                color: rgba(63,131,248,1);
                width: 16px!important;
                height: 16px!important;
                fill: currentColor;
            }
        }

    }

    .download-button{
        -webkit-font-smoothing: auto;
        font-size: .875rem;
        font-weight: 500;
        font-family: $font-family;
        display: inline-flex!important;
        align-items: center;
        justify-content: center;
        height: 40px;
        line-height: 1!important;
        user-select: none;
        cursor: pointer;
        outline: none;
        border-radius: 4px;
        border: 1px solid currentColor;
        padding: 0 15px;
        background: transparent;
        color: #5850ec;
        box-shadow: 0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.12);
        border-color: #cfd8e3;
        display: flex;
        align-self: baseline;
        float: inline-end;
        margin-top: auto!important;

        @media (max-width: 1100px) {
            margin-top: .5rem!important;
        }

        &:hover{
            background-color: rgba(88,80,236,.1);
        }


        .download-icon{
            fill: currentColor;
            height: 24px;
            width: 24px;
            color: #5850ec;
            margin-right: 12px;
        }
    }
}