$font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;


.finance-container {
    flex: 1;
    background-color: #f1f5f9;
    padding: 2rem !important;
    overflow-y: auto;

    .icon-button {
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: transparent;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .icon {
            fill: #64748b;
            width: 24px;
            height: 24px;
        }
    }

    .primary-text {
        -webkit-font-smoothing: auto;
        font-family: $font-family;
        color: #64748b;
        box-sizing: inherit;     
        letter-spacing: .05em!important;
        font-size: .8125rem!important;
        font-weight: 700!important;
        line-height: 1.5;
        margin: 0px;
    }

    .secondary-text{
        line-height: 1.5;
        -webkit-font-smoothing: auto;
        font-weight: 500!important;
        font-size: .75rem!important;
        font-family: $font-family;
        letter-spacing: -.025em!important;
        color: #97a6ba;
        margin: 0px;
    }
    
    @media (max-width: 800px) {
        padding: .5rem!important;
    }


    .top-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem;

        .top-right-container{
            margin-right: 1.5rem!important;
            line-height: 1.5;

            h2{
                -webkit-font-smoothing: auto;
                font-family: $font-family;
                color: #27303f;
                font-size: 32px;
                letter-spacing: -.022em;
                line-height: 1.25;
                font-weight: 600;
                margin: 0!important;
            }

            p{
                line-height: 1.5;
                -webkit-font-smoothing: auto;
                font-size: .875rem;
                font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
                border-color: #e2e8f0;
                letter-spacing: -.025em!important;
                color: #64748b;
            }
        }

        .top-button{
            display: none!important;

            @media (max-width: 800px) {
                display: inline-block!important;
            }
        }

        .button-container {
            display: flex;
            flex-direction: row;

            @media (max-width: 800px) {
                display: none;
            }

            .button {
                -webkit-font-smoothing: auto;
                display: inline-flex !important;
                align-items: center;
                height: 40px;
                user-select: none;
                cursor: pointer;
                outline: none;
                text-align: center;
                min-width: 64px;
                border-radius: 4px;
                border: 1px solid currentColor;
                padding: 0 15px;
                background: transparent;
                box-shadow: 0 0 0 0 rgba(0, 0, 0, .2),0 0 0 0 rgba(0, 0, 0, .14),0 0 0 0 rgba(0, 0, 0, .12);
                border-color: #cfd8e3;
                margin-left: 8px;


                .icon {
                    fill: currentColor;
                    color: #64748b;
                    width: 20px !important;
                    height: 20px !important;
                }

                .button-text {
                    color: inherit;
                    -webkit-font-smoothing: auto;
                    font-weight: 500;
                    margin-left: .5rem !important;
                }
            }

        }
    }

    .finance-bottom-container{
        display: flex;
        flex-direction: row;

        @media (max-width: 1100px) {
            flex-direction: column;
        }
    }

}