$font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;


.recent-transaction {
    width: 67%;
    margin: 1rem;
    border-color: #e2e8f0;
    border-radius: .25rem !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06) !important;
    background-color: #fff;

    @media (max-width: 1100px) {
        width: auto;
    }

    .transaction-header {
        padding: 1.5rem !important;
    }

    .overflow-auto {

        line-height: 1.5;
        -webkit-font-smoothing: auto;
        font-size: .875rem;
        font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
        color: #27303f;
        box-sizing: inherit;
        border-width: 0;
        border-style: solid;
        text-rendering: optimizeLegibility;
        -webkit-tap-highlight-color: transparent;
        border-color: #e2e8f0;
        overflow: auto!important;

        table {
            border-collapse: collapse;
            width: 100% !important;

            thead {

                tr {
                    border-color: #e2e8f0;
                    height: 56px;
                    background: inherit;

                    th {
                        line-height: 1.5;
                        -webkit-font-smoothing: auto;
                        font-family: $font-family;
                        border-width: 0;
                        border-style: solid;
                        font-size: 12px;
                        font-weight: 600;
                        border-color: #e2e8f0;
                        --bg-opacity: 1 !important;
                        background-color: rgba(251, 253, 254, 1);
                        border-top-width: 1px !important;
                        text-align: left;
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                        color: #64748b;
                        border-bottom-color: #e2e8f0;
                        padding-left: 24px;
                    }
                }
            }

            tbody {

                tr {
                    line-height: 1.5;
                    -webkit-font-smoothing: auto;
                    font-size: .875rem;
                    color: #27303f;
                    border-collapse: collapse;
                    border-spacing: 0;
                    box-sizing: inherit;
                    border-width: 0;
                    border-style: solid;
                    text-rendering: optimizeLegibility;
                    -webkit-tap-highlight-color: transparent;
                    border-color: #e2e8f0;
                    height: 4rem !important;
                    background: inherit;

                    td {
                        line-height: 1.5;
                        -webkit-font-smoothing: auto;
                        font-family: $font-family;
                        font-size: 14px;
                        border-color: #e2e8f0;
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                        color: #27303f;
                        border-bottom-color: #e2e8f0;
                        padding-left: 24px;
                    }

                    .transactionId {
                        font-weight: 500 !important;
                        font-size: .75rem !important;
                        padding-right: 1.5rem !important;
                        white-space: nowrap !important;
                        color: #64748b;
                    }

                    .td-primary {
                        padding-right: 1.5rem !important;
                        white-space: nowrap !important;
                    }

                    .amount {
                        font-weight: 500 !important;
                        padding-right: 1.5rem !important;
                        white-space: nowrap !important;
                    }

                    .transaction-status {
                        margin-right: 1.5rem !important;

                        border-width: 0;
                        border-radius: 9999px !important;
                        display: inline-flex !important;
                        align-items: center !important;
                        padding-left: .5rem !important;
                        padding-right: .5rem !important;
                        padding-top: 2px !important;
                        padding-bottom: 2px !important;
                        text-transform: uppercase !important;
                        background-color: #bcf0da !important;
                        // color: #014737 !important;
                        color: #014737;

                        .circle {
                            background-color: rgba(14, 159, 110, 1);
                            border-radius: 9999px !important;
                            height: .5rem !important;
                            margin-right: .5rem !important;
                            width: .5rem !important;
                        }

                        .status {
                            font-weight: 700 !important;
                            font-size: .625rem !important;
                            letter-spacing: .025em !important;
                            line-height: 1.625 !important;
                            padding-right: 2px !important;
                        }
                    }

                    .transaction-status-pending{
                        background-color: #fbd5d5!important;
                        color: #771d1d;
                        
                        .circle-pending{
                            background-color: rgba(240,82,82,1);
                        }
                    }
                }
            }

        }

        .footer-button{
            -webkit-font-smoothing: auto;
            font-size: .875rem;
            font-weight: 500;
            font-family: $font-family;
            height: 40px;
            user-select: none;
            cursor: pointer;
            outline: none;
            border: none;
            padding: 0 16px;
            border-radius: 4px;
            background: transparent;
            color: #5850ec;
            margin: .75rem!important;

            &:hover{
                background-color: rgba(88,80,236,.1);
            }
        }

    }

}