$font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

.statement-container {
    display: flex;
    flex-direction: row;

    @media (max-width: 1100px) {
        flex-direction: column;
    }

    .statement-left {
        width: 50%;
        display: flex;
        flex-direction: column;

        @media (max-width: 1100px) {
            width: auto;
            flex-direction: row;
            justify-content: space-between;
        }

        @media (max-width: 800px) {
            flex-direction: column;
        }

        .statement {
            background-color: white;
            border: 1px solid;
            margin: 16px;

            border-width: 0;

            border-radius: .25rem !important;
            border-left-width: 4px !important;

            padding: 1.5rem !important;
            padding-right: .75rem !important;
            padding-bottom: .75rem !important;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06) !important;
            background-color: #fff;

            @media (max-width: 1100px) {
                width: 50%;
            }

            @media (max-width: 800px) {
                width: auto;
            }

            .statement-top {
                display: flex;
                justify-content: space-between;
            }

            .statement-bottom {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 1rem !important;

                @media (max-width: 500px) {
                    flex-direction: column;
                }

                .amount-container {
                    margin-bottom: .75rem !important;
                    margin-right: 1.5rem !important;

                    .amount-label {
                        -webkit-font-smoothing: auto;
                        font-family: $font-family;
                        font-weight: 600 !important;
                        font-size: .625rem !important;
                        line-height: 1 !important;
                        letter-spacing: .05em !important;
                        color: #97a6ba;
                    }

                    .amount {
                        -webkit-font-smoothing: auto;
                        font-family: $font-family;
                        color: #27303f;
                        font-weight: 500 !important;
                        font-size: 1.5rem !important;
                        line-height: 1 !important;
                        margin-top: .5rem !important;
                        margin: 0px;
                    }
                }

            }
        }
    }

    .statement-right {
        // height: 'auto';
        display: flex;
        flex-direction: column;
        width: 50%;
        border: 1px solid;
        margin: 16px;
        border-width: 0;
        border-radius: .25rem !important;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06) !important;
        background-color: #fff;

        @media (max-width: 1100px) {
            width: auto;
        }

        .account {
            padding: 1.5rem !important;

            .account-top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .account-bottom {
                display: flex;
                flex-direction: row;
                margin-top: 1.5rem !important;

                .amount {
                    line-height: 1.5;
                    -webkit-font-smoothing: auto;
                    font-family: $font-family;
                    color: #27303f;
                    font-weight: 600 !important;
                    font-size: 2.25rem !important;
                    letter-spacing: -.05em !important;
                    margin: 0px;

                    @media (max-width: 1100px) {
                        font-size: 1.5rem !important;
                    }
                }

                .amount-bottom-right {
                    margin-left: 4rem !important;
                }
            }
        }

        .chart-container{
            flex: 1;

            @media (max-width: 1100px) {
                height: 205px;
                flex: 1 1 auto;
            }
        }

    }

}